<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.crazykidsgames.fluffyslimemaker"
    android:installLocation="auto">

    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="MyApplication"
        android:label="${appName}"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        tools:ignore="GoogleAppIndexingWarning"
        >
        <meta-data
            android:name="APP_ID"
            android:value="${APP_ID}" />

    </application>
    
</manifest>
