<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crazykidsgames.fluffyslimemaker"
    android:installLocation="auto">

    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <!--<uses-permission android:name="android.permission.CAMERA" />-->
    <!-- IAP for GP only -->
    <!--<uses-permission android:name="com.android.vending.BILLING" />-->
    
    <application
        android:name="MyApplication"
        android:label="${appName}"
        android:allowBackup="true"
        android:icon="@mipmap/icon">

        <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />


    </application>
    
</manifest>
